@font-face {
    font-family: 'a_AlbionicExp';
    src:url('../FONTS/aalbionicexp_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fffcff;
}

#header  {
    width:100%;
    height: 45px;
    position: absolute;
    background-color: #454b47;
    z-index: 10;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    font-family: 'a_AlbionicExp', serif;
}

#footer {
    width:100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background-color: #292929;
    z-index: 10;
    color: #ffffff;
    text-align: right;
    vertical-align: middle;
}

#mainLayer  {
    width:100%;
    height: 580px;
    position: absolute;
    margin-top: 45px;
    background: linear-gradient(to bottom, #D2B48C, #FAFAD2, white);

}

.flex-container {
    margin: auto;
    margin-top: 70px;
    display: -webkit-flex;
    display: flex;
    width: 950px;
    padding: 10px;
    height: 500px;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;

}

.flex-item {
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    background-color: cornflowerblue;
    width: 400px;
    margin: 20px;
    text-align: center;
    font-size: 1.6em;
}

#flexbox1 {
    background: url(../IMG/1.jpg) no-repeat;
    background-size: 155%;
}

#flexbox2 {
    background: url(../IMG/3.jpg) no-repeat;
    background-size: 135%;
}



#pagename {
    text-align: center;
    width: 300px;
    height: 50px;
    position: absolute;
    z-index: 2;
}

#note {
    color: #441d10;
    text-align: center;
    text-shadow: #ffffff 2px 2px 10px;
    font-size: 2.5em;
    width: 500px;
    height: 90px;
    position: absolute;
    margin-top: -190px;
    margin-left: 270px;
    font-family: "Arial", "sans-serif";
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@-webkit-keyframes animation {
    0%   {
        opacity: 1;
    }
    25%   {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

/* Standard syntax */
@keyframes animation {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

.table {
    position: absolute;
    margin-left: 650px;
    margin-top: 20px;
    width: 610px;
    height: 110px;
    display: inline-table;
    webkit-column-count:3;
    -moz-column-count:3;
}

.td {
    display: inline-table;
    width: 200px;
    height: 100px;
}

.td:hover {
    box-shadow: #faf8ff 2px 2px 10px;
}

#id1 {
    background: url(../IMG/4.jpg) no-repeat;
    background-size: 100%;
}

#id2 {
    background: url(../IMG/5.jpg) no-repeat;
    background-size: 100%;
}

#id3 {
    background: url(../IMG/6.jpg) no-repeat;
    background-size: 100%;
}

.button {
    margin-left: 3%;
    position: absolute;
    vertical-align: middle;
    color: #ffffff;
    font-size: 1.5em;
    height: 30px;
    font-family: "Arial", "sans-serif";
    background-color: #454b47;
    border: 0;
}

#search {
    color: #7c7c7c;
}

#text {
    position: absolute;
    color: #00FF66;
    width: 600px;
    height: 100px;
    position: absolute;
    margin-top: 82px;
    margin-left: 20px;
    text-align: justify;
    word-wrap: break-word;
}

.block {
    width: 230px;
    height: 80px;
    position: absolute;
    right: 0%;
    margin-top: 0%;
    background-color: #4d4d4d;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.block1 {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 1%;
    margin-top: 5%;
}

.block2 {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.7;
    background-color: #4d4d4d;
    right: 1%;
    margin-top: 5%;
}

#but1{
    margin-top: 10%;
}

#but2{
    margin-top: 30%;
}

#but3{
    margin-top: 50%;
}

#menu{
    margin-top: 10%;
    margin-left: 30%;
}

#send{
    margin-top: 70%;
}

.anim { z-index: 5; bottom: 7%; left: 5%; transform-origin: 100% center; position: absolute;
    animation: rotate 6s 3 alternate;}
@keyframes rotate {
    from {
        left: 0px;               /* от: left: 0px */
    }
    to {
        left: calc(100% - 50px); /* до: left: 100%-50px */
    }
}




