<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Информация о котах</title>
    <link href="../css/style1.css" rel="stylesheet">
</head>
<body>

<div class="body">
    <div class="container">
        <table border="3" bordercolor="darkgoldenrod" BGCOLOR="palegoldenrod" height=340px width=1230px border-
               collapse="collapse" cellpadding=5px>
            <TR>
                <Td width=30% class="c1">Легенды</Td>
                <Td class="c2">Описание</Td>
                <Td class="c3" width=30%>Характер</Td>

            </TR>
            <tr>
                <td class="c1">Согласно одной легенде, кошка мейн-кун – это животное от скрещивания самки енота и кота.
                    В подтверждение этой теории приводятся внешние особенности кошки, а именно – хвост, окрас которого
                    очень подобен еноту.
                    <p>Согласно второй легенде, котята мейн-кун появились в результате скрещивания североамериканской рыси
                        с обыкновенным котом. Подтверждением этой теории являются кисточки на ушках кошек этой породы, которые,
                        как полагают, достались им от рыси-мамы.
                    <p>Те, кто изучают происхождение этих кошек, утверждают, что в их истории нет никаких тайн.
                        Порода появилась в результате естественной эволюции.
                </td>
                <td class="c2" valign="top">
                    <img src="../IMG/6.jpg" align=left WIDTH=210 HEIGHT=150 alt="Солярис, мейн-кун, 10кг">
                    Котята мейн кун, как и взрослый кот этой породы — одни из самых необыкновенных особей в своём роде.
                    Его многочисленные окрасы, густая пушистая шерсть, необыкновенно густой хвост, очаровательная мордашка
                    и большие размеры – те отличия, которые выделяют кошку породы мейн-куна из многих других животных
                    семейства кошачьих.
                    <img src="../IMG/4.jpg" align=right WIDTH=170 HEIGHT=140 alt="Солярис, мейн-кун, 10кг">
                </td>
                <td class="c3">
                    Мейнкун – это не только очень красивое животное, поражающее своим большим мускулистым телом
                    (фото с человеком наглядно показывает всю статность кошки), шикарной внешностью и очень выразительными
                    глазами, но и животное, которому достался особенный характер. О его характере много можно узнать от
                    хозяев этого кота, отзывы которых «говорят сами за себя».
                    <p>Забавные привычки этих больших кошек – то, что умиляет и смешит их обладателей, так как их большой
                        вес делает их игры весьма юмористичными. Эти кошки всегда готовы прийти на помощь, независимо от того,
                        чем вы заняты. Любопытные и милые, они совсем не соответствуют своему большому размеру.

                </td>
            </tr>
        </table>
    </div>
    </div>
<footer>   </footer>
</body>
</html>