<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../css/style2.css">
<script src="../js/main.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script data-main="../js/config.js" src="../js/require.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <title>Котики в продаже</title>
</head>
<body>
<header>Предложения</header>
<footer>2016 год</footer>
<div id="mess">
    <span id="inner_text_message"></span>
</div>
<form>
    <label>В продаже
    <table id="cats">
    </table></label>
</form>
</body>
</html>