<!DOCTYPE html>
<html>
<head lang="en">
    <link href="../css/style3.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Портал</title>
</head>
<body>
<img class="anim" src="../IMG/2.png" height="50px" weigh="50px">
<div id="header">Питомник мейн-кунов</div>
<div id="footer">2016 год</div>
<div id="content">
    <div id="mainLayer">
        <div id="text"></div>
        <div class="block"><input type="button" value="Меню" class="button" id="menu"></div>
        <div id="menuu"  class="block1">
            <div class="block2"></div>
        <input type="button" value="Регистрация" class="button" id="but1">
        <input type="button" value="Войти" class="button" id="but2">
            <input type="button" value="Информация" class="button" id="but3">
            <input type="submit" value="Купить" id="send" class="button">
        </div>

            <div class="flex-container">
                <div class="flex-item" id="flexbox1"></div>
                <div class="flex-item" id="flexbox2"></div>
            </div>

    </div>
</div>
</body>
<script src="../js/ajax.js"></script>
<script src="../js/jquery.js"></script>
<script src="../js/menu.js"></script>
</html>